<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h1> DnD Hub </h1>

    <p> Test </p>

    <form method = "post" action = "note.py">
     
      <table>
        <tr>
          <td>Title: <input type = "text" name = "title"></td>
        </tr>
        <tr>
          <td>Body: <input type = "text" name = "body"></td>
        </tr>
      </table>

      <input type = "submit" value = "Create Note">
    </form>

  </body>
</html>