<!-- Backup/Testing file for html-->
<!DOCTYPE html>
<!-- {% extends 'base.html' %}
{% block title %}
Notes
{% endblock %} -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h1> DnD Hub </h1>

    <p> Test </p>
    <form method = "POST" action = "note.py">
    <!-- <form method = "POST" action = "/create"> -->
     
      <table>
        <tr>
          <td>Title: <input type = "text" name = "title" id="title"></td>
        </tr>
        <tr>
          <td>Description: <input type = "text" name = "description" id="description"></td>
        </tr>
      </table>

      <input type = "submit" value = "Create Note">
    </form>

  </body>
</html>